.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.text-area {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0.0, 0, 2);
}